.global-header {
    position: fixed;
    top: -15px;
    left: 5px; /* Move slightly more to the left */
    width: 60px; /* Keep square format */
    height: 60px;
    border-radius: 0%; /* Keep square */
}
.header-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure full visibility */
}
.header-icon {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    object-fit: cover;
}
